{% extends "layout/base.html" %}

{% block 'title'%} Detalles de la tarea {% endblock %}

{% block 'content' %}
<div class="container mt-5">

    <h1 class="text-center">Nombre de la Tarea: {{task.title}}</h1>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Descripción: </b>{{task.description}}</li>
        <li class="list-group-item"><b>Creada: </b>{{task.created}}</li>
        {% if task.important == False %}
          <li class="list-group-item"><b>Importante:</b> No</li>
        {% else %}
          <li class="list-group-item"><b>Importante:</b> Si</li>
        {% endif %}
        {% if task.datecompleted == None %}
          <li class="list-group-item"><b>Completada:</b> No</li>
        {% else %}
          <li class="list-group-item"><b>Completada:</b> {{task.datecompleted}}</li>
        {% endif %}
      </ul>

      <div class="d-flex justify-content-center align-items-center">

        <a href="{% url "tasks" %}" class="btn btn-secondary m-2">Regresar</a>
        
        <form action="{% url "completed_tasks" id=task.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-warning text-white" type="submit">Dar por completada</button>
        </form>  

      </div> 

</div>
{% endblock %}