{% extends "layout/base.html" %}

{% block 'title'%} Home {% endblock %}

{% block 'content' %}
<div class="container mt-5">
    <h1 class="text-center">Hello</h1>
    <div class="text-center">
        <h3>¿Cómo funciona la app?</h3>

        <p>La app es muy sencilla de usar. Solo tienes que registrarte con tu correo electrónico y una contraseña. Una vez que te hayas registrado, podrás crear una agenda de tareas. Para ello, solo tienes que hacer clic en el botón "Crear tarea". A continuación, escribe el nombre de la tarea, la fecha en la que quieres completarla y la prioridad de la tarea.

           También puedes editar las tareas que ya hayas creado. Para ello, solo tienes que hacer clic en la tarea que quieres editar. A continuación, puedes cambiar el nombre de la tarea, la fecha o la prioridad.

           Cuando completes una tarea, puedes marcarla como completada. Para ello, solo tienes que hacer clic en la tarea que quieres marcar como completada.

           ¿Por qué es importante esta app?</p>

        <p>Esta app es importante porque te ayuda a organizarte y a ser más productivo. Con esta app, podrás tener todas tus tareas en un solo lugar. Esto te permitirá ver fácilmente lo que tienes que hacer y cuándo tienes que hacerlo.

           Además, esta app te ayuda a priorizar tus tareas. Cuando creas una tarea, puedes indicar la prioridad de la tarea. Esto te ayudará a centrarte en las tareas más importantes.

           Por último, esta app te ayuda a mantenerte motivado. Cuando completas una tarea, puedes marcarla como completada. Esto te dará una sensación de logro y te motivará a seguir trabajando.

           Conclusiones</p>

        <p>La app es una herramienta sencilla pero eficaz que te ayudará a organizarte y a ser más productivo. Si estás buscando una manera de mejorar tu productividad, esta app es una buena opción para ti.

           Algunos consejos para usar la app</p>

        <h3>Para sacar el máximo partido a la app, te recomendamos que sigas estos consejos:</h3>

        <p>Crea tareas específicas. No te limites a crear tareas generales como "Hacer la compra" o "Limpiar la casa". Crea tareas específicas que te ayuden a saber exactamente lo que tienes que hacer.
           Añade fechas y prioridades. Añadir fechas y prioridades a tus tareas te ayudará a mantenerte organizado.
           Marca las tareas como completadas. Cuando completes una tarea, márcala como completada. Esto te ayudará a mantener la motivación.</p>

        <p>Esperamos que esta información te sea útil.</p>
    </div>
</div>
{% endblock %}