{% extends "layout/base.html" %}

{% block 'title'%} Singup {% endblock %}

{% block 'styles' %}
{% load static %}
<link rel="stylesheet" href="{% static "forms.css" %}">
{% endblock %}


{% block 'content' %}
<div class="container mt-5">

     <h1 class="text-center">Cree su Cuenta</h1>
     
     <div class="d-flex justify-content-center align-items-center">
     <form  class="mt-1 p-5 rounded-3 shadow-lg bg-body-tertiary" actions="{% url "singup" %}" method="POST">
      {% csrf_token %}
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-primary alerta text-center" role="alert"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    {{form.as_p}}
    <input class="btn btn-primary" type="submit" value="Verificar">
    <p class="text-center mt-2 mb-0"><a href="{% url "login" %}">Ya tengo una cuenta</a></p>
     </form>
    </div>

</div>
{% endblock %}